.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.css-1hbyad5-MuiTypography-root{
    display: none;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton{
    display: none;
}

.css-epd502{
    width: 100%;
}

.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel{
    width: 82px;
    height: 82px;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root{
    width: 82px;
    height: 82px;
    font-weight: bold !important;
}

.css-hlj6pa-MuiDialogActions-root{
    display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton{
    display: none !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
    justify-content: center !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
